# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables and secrets
.env
.env.*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Output folders
output/
output*/
**/output*/


# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
# Hardhat build info
artifacts/build-info/




# Saved contract address/abi (optional if read from artifacts)
src/blockchain/SupplyChainData.address.json
src/blockchain/SupplyChainData.abi.json